{% extends 'base.html.twig' %}

{% block title %}Accueil Administration{% endblock %}

{% block sidebar %}
    <h3 class="text-white">Selectionnez une action:</h3>
    <div class="row">
        <div class="col">
            <a href="{{ path('admin_listuser') }}" class="btn btn-primary btn-block my-3">Gérer les rôles utilisateurs</a>
        </div>
    </div>
    <div class="row border-bottom border-info">
        <div class="col">
            <a href="{{ path('admin_listcategories') }}" class="btn btn-primary btn-block mb-3">Gérer les catégories</a>
        </div>
    </div>
{% endblock %}

{% block main %}
    <h1 class="mt-4">Accueil administration MyClick&Collect</h1>      
{% endblock %}
