{% extends 'base.html.twig' %}

{% block title %}Modifier une catégorie du magasin{% endblock %}

{% block body %}
<div class="container p-3">
    <h1>Modifier la sous catégorie</h1>
    <div class="mt-3">
        {{ form_start(form_sub_category) }}
        {{ form_row(form_sub_category.nameSubCategory) }}
        <button class="btn btn-primary">Valider</button>
        {{ form_end(form_sub_category) }}
    </div>
</div>
{% endblock %}