{% extends 'base2.html.twig' %}

{% block title %}Mon Panier{% endblock %}


{% block body %}
<div class="row align-items-center mt-3">
    <div class="col">
        <h1>Liste des commandes</h1>
    </div>
    <div class="col text-right">
        <a 
        class="btn btn-primary"
        href="{{ last_shop_consult != null ? path('enter-shop',{'id':last_shop_consult.id}) : path('home') }}">{{ last_shop_consult != null  ? 'Retour au magasin' : 'Retour à l\'accueil' }}
        </a>
    </div>
</div>
<hr>
{% if product_list_by_ordered == null %}
    <div class="col-6 text-center bg-danger text-white rounded">
        <p class="m-4">
            Il n'y a aucun élément pour le moment.         
        </p>
    </div>
{% endif %}
{% for items in product_list_by_ordered %}
{% if items[0].ordered.status %}
    {% include 'ordered/layout/validateCartProductPresentation.html.twig' %}     
{% else %}
    {% include 'ordered/layout/cartProductPresentation.html.twig' %}     
{% endif %}
{% endfor %}
{% endblock %}
