<div class="row card-body">
    <div class="col-3"></div>
    <div class="col-6 text-center bg-danger text-white rounded">
        <p class="m-4">
            Il n'y a aucun produits enregistrer dans cette catégorie. 
            <a href="{{ path('shop_add-product',{'id':current_shop.id}) }}" class="btn btn-primary text-white mt-3">Ajouter un produit </a>

        </p>
    </div>
    <div class="col-3"></div>
</div>