{% extends 'base.html.twig' %}

{% block sidebar %}
<h3 class="text-white">Selectionnez une action:</h3>
    {% include 'user/layout/navUserSideBar.html.twig' %}
{% endblock %}

{% block main %}
    <h1 class="mt-4">Bienvenue chez {{ current_shop.nameShop }}</h1> 
    {% include 'shop/layout/shopStructureTemplate.html.twig' %}
{% endblock %}